<% if $auth_token != nil %>
VkScan

<div class="btn" onclick="startScan();"> 
    <strong class="btn_text"> Начать мониторинг </strong>
</div>

<% else %>
    <div>
        <%= link_to ENV['root_uri'] + '/login', class: 'btn' do %>
        <strong class="btn_text"> Войти </strong>
        <% end %>
    </div>
<% end %>